.theme-switcher {
    --accent-color: #33eb91;
    --accent-color-80: rgba(51, 235, 146, 0.9);
    --accent-color-60: rgb(51, 235, 145, 0.8);

    &.light-theme {
        --background-color: white;
        --background-color-secondary: #fafafa;
        --text-color: rgba(0, 0, 0, 0.87);
        --text-color-secondary: rgba(0, 0, 0, 0.6);
        --border-color: #dddddd;
        --scroll-track-color: #fafafa;
        --backdrop-color: rgba(255, 255, 255, 0.5);
    }

    &.dark-theme {
        --background-color: #000000;
        --background-color-secondary: #121212;
        --text-color: rgba(255, 255, 255, 0.87);
        --text-color-secondary: rgb(255, 255, 255, 0.6);
        --border-color: #121212;
        --scroll-track-color: #000000;
        --backdrop-color: rgba(0, 0, 0, 0.5);
    }
}
