.table {
    overflow-x: auto;
    min-width: 20rem;
    max-width: 100rem;
    width: fit-content;
    margin: auto;
    border: 1px solid #b9b9b9;
    border-bottom: none;
    border-radius: 4px;

    table {
        border-collapse: collapse;
        width: 100%;

        tbody,
        thead,
        tfoot {
            white-space: nowrap;
        }
    }
}

.table-row {
    border-bottom: 1px solid #b9b9b9;
    height: 4rem;

    td,
    th {
        padding: 0.75rem;
        text-align: left;
        white-space: normal;
        user-select: none;
    }

    img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .table-row__loader {
        padding-right: 0;
        width: 2rem;
    }

    .table-row__code,
    .table-row__flag {
        width: 2rem;
        text-align: center;
    }

    .table-row__name {
        width: 20rem;
    }

    .table-row__capital,
    .table-row__region {
        width: 10rem;
    }

    .table-row__population {
        width: 8rem;
        text-align: right;
    }

    .table-row__subregion {
        width: 15rem;
    }
}
