.search {
    position: fixed;
    top: 2rem;
    right: 0.25rem;
    left: 0.25rem;
    max-width: var(--max-width);
    margin: auto;
    z-index: var(--search-z-index);

    &__container {
        position: absolute;
        max-width: 30rem;
        width: 100%;
        z-index: var(--search-z-index);

        & label {
            display: none;
        }
    }

    &__input {
        width: 100%;
        padding: 1rem 1rem 1rem 2.75rem;
        font-size: 1.25rem;
        background-color: var(--background-color);
        outline: none;
        border: none;
        color: var(--text-color);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        caret-color: var(--accent-color);
    }

    &__icon {
        position: absolute;
        top: 0.9rem;
        left: 0.9rem;
        font-size: 1.75rem;
        color: var(--accent-color);
    }

    &__loading {
        position: absolute;
        top: 0.9rem;
        right: 0.9rem;
        font-size: 1.75rem;
        color: var(--accent-color);
        animation: spin 750ms infinite linear;
    }

    &__results-list {
        max-width: 30rem;
        position: fixed;
        top: 5.75rem;
        bottom: 1rem;
        overflow-y: auto;
        z-index: var(--search-result-z-index);
    }

    &__result {
        padding: 0.75rem;
        min-height: 4.5rem;
        width: 100%;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow);
        margin-top: 0.1rem;
        display: flex;
        align-items: center;

        &:first-of-type {
            margin-top: 0;
        }

        &.empty {
            align-items: center;
            justify-content: center;
        }

        div {
            padding-left: 0.75rem;
        }

        p {
            margin: 0;
        }

        img {
            display: block;
            height: 3rem;
        }

        & p:first-of-type {
            font-size: 1.2rem;
            color: var(--text-color);
        }

        & p:last-of-type {
            color: var(--text-color-secondary);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    .search {
        top: 0.5rem;
        &__container {
            width: calc(100% - 4rem);
            left: 1px;
        }

        &__input {
            font-size: 1rem;
        }

        &__results-list {
            top: 4.25rem;
            left: 0.25rem;
            right: 0.25rem;
        }
    }
}
