.table {
    position: fixed;
    top: 7.5rem;
    bottom: 2rem;
    left: 1px;
    right: 1px;
    margin: 0 auto;

    user-select: none;
    max-width: var(--max-width);
    width: 99%;

    &__x-scroll-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        max-height: 100%;

        border-bottom: none;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);

        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        overflow-x: auto;
        overflow-y: auto;

        &.loading {
            overflow-y: hidden;
        }
    }

    &__header {
        position: sticky;
        top: 0;
        left: 0;

        width: 100%;
        min-width: 62rem;

        background-color: var(--background-color);

        .table__row {
            border-bottom: 1px solid var(--border-color);
        }

        .table__cell {
            font-weight: bold;
            text-transform: capitalize;
            color: var(--text-color);
        }
    }

    &__body {
        min-width: 62rem;

        .table__row {
            border-bottom: 1px solid var(--border-color);
            color: var(--text-color-secondary);

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &__paging {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    &__row {
        display: flex;
        align-items: center;
        min-height: 4rem;

        &:nth-child(2n + 1) {
            & :nth-child(2n + 2)::after {
                background-color: var(--accent-color-40);
            }
        }

        &:nth-child(2n + 2) {
            & :nth-child(4n + 5)::after {
                background-color: var(--accent-color-40);
            }
        }
    }

    &__cell {
        padding: 0.75rem;
        text-align: left;
        white-space: normal;
        user-select: none;
        opacity: 0;

        animation-duration: 550ms;
        animation-name: loading;
        animation-direction: reverse;
        animation-fill-mode: both;
        animation-timing-function: ease-out;

        &.loading {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 90%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--loading-color);
                animation-name: loading;
                animation-duration: 750ms;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: both;
                animation-timing-function: ease-out;
            }
        }

        &.loader {
            width: 100%;
            min-width: 2.5rem;
            max-width: 2.5rem;
            padding-right: 0.5rem;
        }

        &.code::after {
            animation-delay: 0ms;
        }

        &.flag::after {
            animation-delay: 150ms;
        }

        &.name::after {
            animation-delay: 300ms;
        }

        &.capital::after {
            animation-delay: 450ms;
        }

        &.population::after {
            animation-delay: 600ms;
        }

        &.region::after {
            animation-delay: 750ms;
        }

        &.subregion::after {
            animation-delay: 900ms;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }

        &.code,
        &.flag {
            width: 4rem;
            min-width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.name {
            max-width: 30rem;
            min-width: 10rem;
            width: 100%;
        }

        &.capital,
        &.region {
            min-width: 6rem;
            max-width: 12rem;
            width: 100%;
        }

        &.population {
            min-width: 6rem;
            max-width: 8rem;
            width: 100%;
            text-align: right;
        }

        &.subregion {
            min-width: 6rem;
            max-width: 15rem;
            width: 100%;
        }
    }
}

@media (max-width: 1000px) {
    .table {
        top: 4.25rem;
        bottom: 1rem;
    }
}

@keyframes loading {
    from {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
