.table {
    position: fixed;
    top: 7.5rem;
    bottom: 2rem;
    left: 0.25rem;
    right: 0.25rem;
    margin: 0 auto;

    user-select: none;
    max-width: var(--max-width);
    z-index: var(--table-z-index);

    &__x-scroll-container {
        z-index: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        max-height: 100%;

        border-bottom: none;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);

        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        overflow-x: auto;
        overflow-y: auto;

        &.loading {
            overflow-y: hidden;
        }
    }

    &__header {
        z-index: inherit;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 62rem;
        background-color: var(--background-color);

        .table__row {
            border-bottom: 1px solid var(--border-color);
        }

        .table__cell {
            font-weight: bold;
            text-transform: capitalize;
            color: var(--text-color);
            border-right: 1px solid var(--border-color);

            &:last-of-type {
                border-right: 0;
            }
        }
    }

    &__body {
        z-index: inherit;

        min-width: 62rem;

        .table__row {
            border-bottom: 1px solid var(--border-color);
            color: var(--text-color-secondary);

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    &__footer {
        z-index: inherit;

        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &__row {
        display: flex;
        align-items: center;
        min-height: 4rem;

        &:nth-child(2n + 1) {
            & :nth-child(2n + 2)::after {
                background-color: var(--accent-color-40);
            }
        }

        &:nth-child(2n + 2) {
            & :nth-child(4n + 5)::after {
                background-color: var(--accent-color-40);
            }
        }
    }

    &__cell {
        z-index: inherit;

        padding: 0.75rem;
        text-align: left;
        white-space: normal;
        user-select: none;
        opacity: 0;

        animation-duration: 350ms;
        animation-name: loading;
        animation-direction: reverse;
        animation-fill-mode: both;
        animation-timing-function: ease-out;

        &.loading {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 90%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--loading-color);
                animation-name: loading;
                animation-duration: 750ms;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: both;
                animation-timing-function: ease-out;
            }
        }

        &.header {
            display: flex;
            align-items: center;
            position: relative;

            &.loader {
                padding: 0;
            }
        }

        &.loader {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 4rem;
            max-width: 4rem;
        }

        &.code::after {
            animation-delay: 0ms;
        }

        &.flag::after {
            animation-delay: 150ms;
        }

        &.name::after {
            animation-delay: 300ms;
        }

        &.capital::after {
            animation-delay: 450ms;
        }

        &.population::after {
            animation-delay: 600ms;
        }

        &.region::after {
            animation-delay: 750ms;
        }

        &.subregion::after {
            animation-delay: 900ms;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }

        &.code,
        &.flag {
            display: flex;
            align-items: center;
        }

        &.code {
            width: 5.5rem;
            min-width: 5.5rem;

            margin-left: 0.25rem;

            &.header {
                margin-left: 0;
            }
        }

        &.flag {
            width: 4rem;
            min-width: 4rem;
            justify-content: center;

            &.header {
                width: 4.5rem;
                min-width: 4.5rem;
            }
        }

        &.name {
            max-width: 30rem;
            min-width: 10rem;
            width: 100%;
        }

        &.capital,
        &.region {
            min-width: 6rem;
            max-width: 12rem;
            width: 100%;
        }

        &.population {
            min-width: 6rem;
            max-width: 8rem;
            width: 100%;
            text-align: right;
            font-variant-numeric: tabular-nums;
        }

        &.subregion {
            min-width: 6rem;
            max-width: 15rem;
            width: 100%;

            & .table__sort {
                right: 0.75rem;
            }
        }
    }

    &__sort {
        background-color: transparent;
        font-size: 1.1rem;
        border: none;
        position: absolute;
        padding: 0.75rem;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__filters {
        background-color: transparent;
        font-size: 1.5rem;
        border: none;
        padding: 0.35rem 0.5rem 0;
        height: 2.6875rem;
        position: relative;

        &.active {
            &::after {
                content: ' ';
                position: absolute;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background-color: red;
                top: 0.7rem;
                right: 0.45rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .table {
        top: 4.25rem;
        bottom: 1rem;
    }
}

@keyframes loading {
    from {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
