.table {
    position: fixed;
    top: 7.5rem;
    bottom: 2rem;
    left: 1px;
    right: 1px;
    margin: 0 auto;

    user-select: none;
    max-width: var(--max-width);
    width: 99%;

    &__x-scroll-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        max-height: 100%;

        border-bottom: none;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);

        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        overflow-x: auto;
        overflow-y: auto;
    }

    &__header {
        position: sticky;
        top: 0;
        left: 0;

        width: 100%;
        min-width: 62rem;

        background-color: var(--background-color);

        .table__row {
            border-bottom: 1px solid var(--border-color);
        }

        .table__cell {
            font-weight: bold;
            text-transform: capitalize;
            color: var(--text-color);
        }
    }

    &__body {
        min-width: 62rem;

        .table__row {
            border-bottom: 1px solid var(--border-color);
            color: var(--text-color-secondary);

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &__paging {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    &__row {
        display: flex;
        align-items: center;
        min-height: 4rem;
    }

    &__cell {
        padding: 0.75rem;
        text-align: left;
        white-space: normal;
        user-select: none;

        &.loader {
            width: 100%;
            min-width: 2.5rem;
            max-width: 2.5rem;
            padding-right: 0.5rem;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }

        &.code,
        &.flag {
            width: 4rem;
            min-width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.name {
            max-width: 30rem;
            min-width: 10rem;
            width: 100%;
        }

        &.capital,
        &.region {
            min-width: 6rem;
            max-width: 12rem;
            width: 100%;
        }

        &.population {
            min-width: 6rem;
            max-width: 8rem;
            width: 100%;
            text-align: right;
        }

        &.subregion {
            min-width: 6rem;
            max-width: 15rem;
            width: 100%;
        }
    }
}

@media (max-width: 1000px) {
    .table {
        top: 4.25rem;
        bottom: 1rem;
    }
}
